<div class="title">
    <h1>Регистрация</h1>
</div>
<hr>
{{>button}}
<hr>
<div class="form">
    <form name="reg" method="" action="">
        <label><input placeholder="{{first_name}}" type="text" value="" name="first_name"></label>
        <label><input placeholder="{{second_name}}" type="text" value="" name="second_name"></label>
        <label><input placeholder="{{display_name}}" type="text" value="" name="display_name"></label>
        <label><input placeholder="{{login}}" type="text" value="" name="login"></label>
        <label><input placeholder="{{email}}" type="email" value="" name="email"></label>
        <label><input placeholder="{{phone}}" type="tel" value="" name="phone"></label>
        <input type="submit" class="button" value="Регистрация">
    </form>
</div>
